{% extends "base.html" %}
{% load static %}

{% block title %}404 Error{% endblock title %}
{% block description %}404 Not Found{% endblock description %}

{% block content %}
<div class="error">
    <div class="title"><h2 class="error">404 Not Found</h2></div>
    <p>Not sure how you got here, but the page that you requested was either moved or doesn't exist!</p>
</div>
{% endblock content %}
