{% extends "base.html" %}
{% load static %}

{% block title %}500 Error{% endblock title %}
{% block description %}500 Level Error{% endblock description %}

{% block content %}
<div class="error">
    <div class="title"><h2 class="error">500 Level Error</h2></div>
    <p>Something went wrong, sorry!</p>
</div>
{% endblock content %}
