{% load static %}

<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111523511-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111523511-1');
</script>

<meta name="wot-verification" content="6954e25e2f43a10d4eff"/>

<meta name="keywords" content="Nick,Hirzel,Programming,Programmer,Code,Coding,C++,C,Java,Golang,Personal,Blog,Resume,Job,Experience">
<meta name="author" content="Nick Hirzel">
<meta name="description" content="{% block description %}{% endblock description %}">
<meta charset="UTF-8">

<title>{% block title %}{% endblock title %}</title>

<link rel="stylesheet" href="{% static "stylesheet.css" %}" type="text/css" media="screen" charset="utf-8">
{% block additional_css %}{% endblock %}
{% block custom_fonts%}{% endblock %}
<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
</head>

<body>
<div class="wrap">
<header>
    <div class="navbar">
        <div class="navtitle">
            <a href="{% url 'personal:index' %}">nick hirzel</a>
        </div>
        <div>
            <nav class="navcontent">
            <a href="{% url 'personal:index' %}">home</a>
            <span class="middot">&middot;</span>
<!--        
            <a href="/blog/">blog</a>
            <span class="middot">&middot;</span>
-->
            <a href="/projects/">projects</a>
            <span class="middot">&middot;</span>
            <a href="{% url 'personal:resume' %}">resume</a>
            </nav>
        </div>
    </div>
</header>

<div class="hr"></div>

{% block content %}
{% endblock content %}

<div class="hr"></div>
    <footer>
        <div class="footer">
            <div class="footer-links">
                <a href="https://gitlab.com/kwask">GitLab</a>
                <span class="middot">&middot;</span>
                <a href="https://github.com/Kwask">GitHub</a>
                <span class="middot">&middot;</span>
                <a href="https://www.youtube.com/channel/UCq1wbvoyM7R4dBEK4BDGR5Q">YouTube</a>
                <span class="middot">&middot;</span>
                <a href="https://twitter.com/_kwask">Twitter</a>
            </div>
            <div>
                &copy; 2014-{% now "Y" %}, Nick Hirzel
            </div>
        </div>
    </footer>
</div>
</body>
</html>
