code {
    font-family: 'Inconsolata', monospace;
    background-color: #f3f3f1;
    padding-left: 3px;
    padding-right: 3px;
}

.codehilite  { 
    background-color: #f3f3f1;
    color: #000;
    padding: 5px;
    border-color: #c7c7c2;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    font-family: 'Inconsolata', monospace;
    margin-top: -15px;
    margin-bottom: 20px;
}

.codehilite pre {
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
    white-space: pre;
    overflow: auto;
}

.codehilite .hll { background-color: #FEFEFC; }
.codehilite .c { color: #FF9700; font-style: italic } /* Comment */
.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k { color: #008800; font-weight: bold } /* Keyword */
.codehilite .ch { color: #FF9700; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #FF9700; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #008080 } /* Comment.Preproc */
.codehilite .cpf { color: #FF9700; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #FF9700; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #FF9700; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #aa0000 } /* Generic.Error */
.codehilite .gh { color: #999999 } /* Generic.Heading */
.codehilite .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #555555 } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #aaaaaa } /* Generic.Subheading */
.codehilite .gt { color: #aa0000 } /* Generic.Traceback */
.codehilite .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008800; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #008800; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #0000FF } /* Literal.Number */
.codehilite .s { color: #0000FF } /* Literal.String */
.codehilite .na { color: #FF0000 } /* Name.Attribute */
.codehilite .nt { color: #008800; font-weight: bold } /* Name.Tag */
.codehilite .ow { font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #0000FF } /* Literal.Number.Bin */
.codehilite .mf { color: #0000FF } /* Literal.Number.Float */
.codehilite .mh { color: #0000FF } /* Literal.Number.Hex */
.codehilite .mi { color: #0000FF } /* Literal.Number.Integer */
.codehilite .mo { color: #0000FF } /* Literal.Number.Oct */
.codehilite .sa { color: #0000FF } /* Literal.String.Affix */
.codehilite .sb { color: #0000FF } /* Literal.String.Backtick */
.codehilite .sc { color: #800080 } /* Literal.String.Char */
.codehilite .dl { color: #0000FF } /* Literal.String.Delimiter */
.codehilite .sd { color: #0000FF } /* Literal.String.Doc */
.codehilite .s2 { color: #0000FF } /* Literal.String.Double */
.codehilite .se { color: #0000FF } /* Literal.String.Escape */
.codehilite .sh { color: #0000FF } /* Literal.String.Heredoc */
.codehilite .si { color: #0000FF } /* Literal.String.Interpol */
.codehilite .sx { color: #0000FF } /* Literal.String.Other */
.codehilite .sr { color: #0000FF } /* Literal.String.Regex */
.codehilite .s1 { color: #0000FF } /* Literal.String.Single */
.codehilite .ss { color: #0000FF } /* Literal.String.Symbol */
.codehilite .il { color: #0000FF } /* Literal.Number.Integer.Long */
