div.article {
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
    margin-top:10px;
    margin-bottom:10px;
    color: #030303;
}

h1.article-title {
    flex-direction: column;
    font-size: 38pt;
    margin-bottom: 2px;
}

p {
    margin-bottom: 20px;
}

div.article-author {
    color: #888;
    margin-bottom:14px;
}

div.article-content {
    flex-direction: column;
    width: 100%;
}

div.listing-article {
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
}

div.blurb {
    width: 750px;
    flex-direction: column;
    margin-bottom: 20px;
}

div.blurb-info {
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

div.blurb-title {
    justify-content: flex-start;
    width: 50%;
}

div.blurb-author {
    color: #888;
    width: 50%;
    justify-content: flex-end;
}

div.blurb-description {
    align-content: left;
}

ul {
    margin-top: -15px;
    margin-bottom: 15px;
}
