html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, section, article, aside, footer {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    background: transparent;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
}

body {
    width: 800px;
    background-color: #FEFEFC;
    color: #444444;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #FF9700;
}

a:hover {
    color: #BC6F00;
}

div {
    display: flex;
}

div.wrap {
    margin: 0 auto;
    margin-bottom: 3em;
    width: 800px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.hr {
    margin: 4px 0px 10px 0px;
    height: 5px;
    background: transparent url('rule.png') top center no-repeat;
    width: 780px;
    align-content: center;
}

div.error {
    margin: auto;
    background-color: orangered;
    color: #fdfdfd;
    padding-left: 20px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: center;
	border-radius: 10px;
    line-height: 25px;
    width: 500px;
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

div.avatar {
    align-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

div.greeting {
    margin: 1em;
    text-align: center;
    font-size: 20pt;
    flex-direction: column;
}

div.row {
    flex-direction: row;
    align-items: center;
}

div.column {
    flex-direction: column;
    align-items: center;
}

div.navbar {
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}

div.navtitle {
    font-size: 18pt;
}

div.footer {
    text-align: center;
    font-size: 12pt;
    font-style: italic;
    flex-direction: column;
    align-items: center;
}

div.footer-links {
    line-height: 15pt;
}

div.project {
    margin-top: 10pt;
    padding: 0pt;
    width: 750px;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
}

div.project-details {
    width: 70%;
    flex-direction: column;
}

div.project-title {
    background-color: #EFEFEF;
    line-height: 20pt;
    padding-left: 3pt;
}

div.project-desc {
    font-size: 12pt;
    line-height: 18pt;
    padding-left: 3pt;
    padding-right: 3pt;
}

div.project-links {
    background-color: #EFEFEF;
    max-width: 30%;
    width: 25%;
    flex-direction: column;
    line-height: 15pt;
    font-size: 12pt;
    padding-left: 3pt;
    margin-left: 5px;
}

div.links-list {
    flex-direction: column;
    font-size: 14pt;
    line-height: 20pt;
    width: 750px;
}

header.navtitle {
    font-size: 16pt;
    padding-left: 20px;
    width: 120px;
}

nav.navcontent {
    float: left;
    width: 650px;
    padding-right: 20px;
    text-align: right;
    text-transform: lowercase;
    font-size: 14pt;
}

img.avatar {
    border-radius: 50%;
    width: 200px;
    box-shadow: 2px 2px 5px grey;">
}

p.greeting {
    margin-bottom: 14px;
}

p.links-desc {
    font-size: 14pt;
}

span.middot{
    margin-left: 4px;
    margin-right: 4px;
}

li {
    margin-left: 3em;
}

h2.error {
    margin: 10px 10px 4px 10px;
    text-align: center;
}

h2.links {
    margin: 1em 1em 1em 1em;
    text-align: center;
}

.error .title {
    width:200px;
}
