{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{article.title}}{% endblock title %}
{% block description %}Written by {{article.author.first_name}} {{article.author.last_name}} on {{article.publish_date.date}}{% endblock description %}
{% block additional_css %}
<link rel="stylesheet" href="{% static "blog/stylesheet.css" %}" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{% static "blog/codeblock.css" %}" type="text/css" media="screen" charset="utf-8">{% endblock %}
{% block custom_fonts%}
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="article">
    <div><h1 class="article-title">{{article.title}}</h1></div>
    <div class="article-author">Written by {{article.author.first_name}} {{article.author.last_name}} on {{article.publish_date.date}}, about {{article.publish_date|naturaltime}}</div>
    
    <div class="article-content">
        {{article.content|safe}}
    </div>

    {% if article.author.email %}
        <div class="article-author"><p>If you liked this article or have any questions, please feel free to shoot me an <a href="mailto:{{article.author.email}}">email</a></p></div>
    {% endif %}
</div>

{% endblock content %}
