{% extends "base.html" %}

{% load static %}

{% block title %}Blog{% endblock title %}
{% block description %}Blog articles by Nick Hirzel{% endblock description %}
{% block additional_css %}<link rel="stylesheet" href="{% static "blog/stylesheet.css" %}" type="text/css" media="screen" charset="utf-8">{% endblock %}

{% block content %}
{% if article_list %}
<div class="listing-article">
    {% for article in article_list %}
        {% if article %}
            <div class="blurb">
                <div class="blurb-info">
                    <div class="blurb-title">
                        <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
                    </div>
                    <div class="blurb-author">
                        {{article.author.first_name}} {{article.author.last_name}} on {{article.publish_date.date}}
                    </div>
                </div>
                <div class="blurb-description">
                    {{article.description}}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <p>No articles available</p>
{% endif %}
{% endblock content %}
