{% extends "base.html" %}
{% load static %}

{% block title %}Nick Hirzel{% endblock title %}
{% block description %}Programming projects and other stuff by Nick Hirzel{% endblock description %}

{% block content %}
    <div class="row">
        <div class="greeting">
            <p class="greeting">Hey! I'm Nick Hirzel</p>
            <p class="greeting">I'm a college student currently working towards a computer science degree. In my spare time I like to do game dev.</p>
            <p class="greeting">If you'd like to contact me, the easiest way is by <a href="mailto:nhirzel1@gmail.com">email</a>.</p>
        </div>
    </div>
{% endblock content %}
