{% extends "base.html" %}

{% block title %}Links{% endblock title %}
{% block description %}Links for useful stuff{% endblock description %}

{% block content %}
<p class="links-desc">These are links that are either related to work that I do, or resources that I find valuable.</p>

<!--
<div class="links-list">
    <ul>
    <li><a href="#mylinks">My Links</a></li>
    <li><a href="#tutorials">Tutorials</a></li>
    <li><a href="#tools">Tools</a></li>
    <li><a href="#youtube">YouTube Channels</a></li>
    </ul>
</div>
-->

<div class="links-list">
    <h2 id="mylinks" class="links">My Links</h2>
    <ul>
    <li><a href="https://gitlab.com/kwask">GitLab</a>: My active git repos, check this for my current projects</li>
    <li><a href="https://github.com/Kwask">GitHub</a>: My old git repos, really only for inactive stuff</li>
    <li><a href="https://www.youtube.com/channel/UCq1wbvoyM7R4dBEK4BDGR5Q">YouTube</a>: Sometimes I'll post development videos</li>
    <li><a href="https://www.twitch.tv/kwask">Twitch</a>: Development streams, usually during Ludum Dare</li>
    <li><a href="https://twitter.com/_kwask">Twitter</a>: Used rarely, but I'm making an effort to use it more</li>
    </ul>
</div>
    
<div class="links-list">
    <h2 id="tutorials" class="links">Tutorials</h2>
    <ul>
    <li><a href="https://open.gl/">open.gl</a>: Great tutorial series for an intro to OpenGL</li>
    <li><a href="https://learnopengl.com/">learnopengl.com</a>: Another great tutorial series, covers a greater breadth of concepts</li>
    <li><a href="https://www.youtube.com/watch?v=tvC1WCdV1XU&list=PLAE85DE8440AA6B83">thenewboston</a>: "Bucky's C++" tutorials is one of the biggest things that help me get into programming. Incredible tutorial series for C++ beginners</li>
    </ul>
</div>

<div class="links-list">
    <h2 id="tools" class="links">Tools</h2>
    <ul>
    <li><a href="https://ninite.com/">ninite.com</a>: A great tool for installing vital Windows programs on a fresh install</li>
    </ul>
</div>

{% endblock content %}
 