{% extends "base.html" %}
{% load static %}

{% block title %}Resume{% endblock title %}
{% block description %}Nick Hirzel's Resume{% endblock description %}

{% block content %}
<object data="{% static "personal/nick_hirzel_resume.pdf" %}" type="application/pdf" width="750" height="800">
	<a href="{% static "personal/nick_hirzel_resume.pdf" %}">nick_hirzel_resume.pdf</a>
</object>
{% endblock content %}
