{% extends "base.html" %}

{% load static %}

{% block title %}Projects{% endblock title %}
{% block description %}Projects created by Nick Hirzel{% endblock description %}

{% block content %}
{% if project_list %}
{% for project in project_list %}
    {% if project and project.links %}
    <div class="project">
        <div class="project-details">
            <div class="project-title"><p>{{project.title}}</p></div>
            <div class="project-desc"><p>{{project.description}}</p></div>
        </div>
        <div class="project-links">
            <p>Links</p>
            {% for link in project.links %}
            {% if link %}
            <a href="{{link.link}}">{{link.name}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
{% else %}
<p>No projects</p>
{% endif %}
{% endblock content %}
